
@{
    ViewBag.Title = "Confirm";
}

<h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h2>
<table>
    <tr>
        <td></td>
        <td>Mã nhân viên: </td>
        <td>@ViewBag.empID</td>
    </tr>
    <tr>
        <td></td>
        <td>Họ tên: </td>
        <td>@ViewBag.empName</td>
    </tr>
    <tr>
        <td></td>
        <td>Ngày sinh: </td>
        <td>@ViewBag.empDateOfBirth</td>
    </tr>
    <tr>
        <td></td>
        <td>Email </td>
        <td>@ViewBag.empEmail</td>
    </tr>
    <tr>
        <td></td>
        <td>Mật khẩu : </td>
        <td>@ViewBag.empPassword</td>
    </tr>
    <tr>
        <td></td>
        <td>Đơn vị : </td>
        <td>@ViewBag.empDivision</td>
    </tr>
    <tr>
        <td></td>
        <td>Đơn vị : </td>
        <td>@ViewBag.empAvatar</td>
    </tr>
</table>